extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src="http://localhost:3000/files/image.png")
  img(src="http://localhost:3000/files/image.png")
  img(src="http://localhost:3000/files/image.png")
  img(src="http://localhost:3000/files/image.png")
  img(src="http://localhost:3000/files/image.png")
  img(src="http://localhost:3000/files/image.png")
  img(src="http://localhost:3000/files/image.png")
