.example-enter {
  opacity: 0;
  transform: translateX(90px);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: translateX(90px);
  transition: all 300ms ease-in;
}
